#contact
    min-height: 500px
    background:
        @include dark

.eMail
    @include lime
    transform: rotate(-90deg)
    z-index: 500

.contactFooterSpaceMailBoxRight
    height: 100px
    @include borderLeftWhite

.contactButtonSpaceShort,.contactButtonSpaceLong
    height: 30px
    @include borderRightWhite

.toContactUnderButton
    height: 50px
    @include borderLeftWhite
    @include borderBottomWhite

.contactFooterRight
    height: 50px
    @include borderBottomWhite
    @include lime

// ***** FOOTER *****

.footer
    height: 30px
