#aboutMe
    position: relative
    min-height: 100vh
.meBox
    min-height: 33vh
.triUp
    height: 33vh
    width: 100%
    background:
        color: pink
.triDown
    height: 33vh
    width: 100%
    background:
        color: pink
