





/*------Vieux site----*/

//#portfolio
		position: relative
		height: 100%
		background:
			@include clear
			width: 100%

//.portbox
		padding-left: 10px
		display: flex
		align-items: center
		height: 10%
//#webpages
		height: 90%
		overflow: auto
		white-space: nowrap
//.page
		display: inline-block
		height: 100%
		width: 100%
		//width: 80%
//.page1img
		height: 80%
		width: 80%
		margin: auto
		background:
		image: url(../image/pics/Atelier1.jpg)
		size: cover
		position: top
//.pageLink
		width: 100%
		height: 20%
		text-align: center

//.page a
		line-height: 1.6

//.page2img
		height: 80%
		width: 80%
		margin: auto
		background:
		image: url(../image/.jpg)
		size: cover
		position: top
