/* ***** GENERAL ***** */
body{
  padding-top: 60px;
  font-family: 'Roboto Slab', serif;
}

.mainContent{
  box-shadow:0px 0px 10px black;
  padding:0px;
}

h1, h2, h3, h4{
  font-family: 'Indie Flower', cursive;
  margin: 0px;
}
h1{
  font-size: 52px;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.row{
  margin:0;
  padding:0;
}
/* ***** NAVIGATION ***** */

.navbar-inverse .navbar-brand {
    color: #fff;
    margin: 5px 0px;
}
.nav>li>a {
    color: #fff;
    margin:10px 5px;
}
.nav>li>a:hover {
    color: #000;
}

/* ***** HOME ***** */

#home{
  min-height: calc(500px - 70px);
}
.homeBox{
  height: 100px;
  width: 100%;
}
.homeBoxRight{
  height: 100%;
}
.homeBoxMiddle{
  height: 100%;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  border-radius: 0 0 0 100px;
}


.heroTextUp{
  min-height: 100px;
  border-right: 3px solid #000;
}

.heroText2{
  min-height: 100px;
}
.heroTextDown{
  min-height: 100px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-radius: 15px 0 0 0;
}
.passion{
  color: #bada55;
}
.lineTower{
  height:50px;
  border-top: 3px solid #000;
}

.lineTouchTower{
  border-top: 3px solid #000;
  border-radius: 0 50px 0 0;
  height:50px;
  width:47.1%;
}

 /* ***** ABOUT ME ***** */

.aboutBox{
  width: 100%;
  min-height: 600px;
  color: #fff;
  background-color: #000;
}

/* ***** topBox ***** */

.topBox{
  height: 100px;
}
.topBoxLeft{
  height: 100%;
}
.topBoxRight{
  height: 100%;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-radius: 150px 0 0 0;
}

/* ***** topPicBox ***** */
.imgMe{
  width: 100%;
}

.topPicBox{
  height: auto;
}

.topPicBoxMiddle{
  border: 3px solid #fff;
  border-radius: 0 50% 0 50%;
  overflow: hidden;
}

.topPicBoxLeft{
  border-top: 3px solid #fff;
}

/* ***** topSpaceBox ***** */

.topSpaceBox{
  height: 150px;
}

.topSpaceBox>h2{
  margin-top: 0;
}
.topSpaceText{
  height: 150px;
  border-right: 3px solid #fff;
}
.topSpaceRight{
  border-top: 3px solid #fff;
  height: 150px;
}

/* ***** topTextBox ***** */

.topTextBox{
  min-height: 250px;
}

.topTextBoxText{
  min-height: 250px;
  padding: 15px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-radius: 30px 0 0 0;
}

/* ***** topUnderTextBox ***** */
.topUnderTextBox{
  height: 150px;
  display: flex;
}

.topUnderTextBoxRight{
  border-top: 3px solid #fff;
}
.topUnderTextBoxDeco{
  height: 150px;
  width: 150px;
  border: 3px solid #fff;
  border-radius: 0 50% 50% 50%;
  background-color: #bada55;
}

.goToRight{
  height:25px;
  border-top:3px solid #fff;
  border-radius: 25px 0;
}

/* *****  PORTFOLIO   ***** */

#portfolio{
  background-color: #fff;
}
.portfolioSpaceMiddle{
  height: 25px;
  border-bottom: 3px solid #000;
  border-radius: 0 0 25px 0;
}

.portfolioTopRight{
  border-left: 3px solid #000;
  height: 50px;
}

/* ***** portfolioBubbleBox ***** */

.portfolioBubbleBox{
  height: 40px;
  display: flex;
}
.portfolioBubbleLeft{
  width: calc(50% - 18.5px);
  height: 40px;
}
.portfolioBubble{
  width: 40px;
  height: 40px;
  border: 3px solid #000;
  border-radius: 50%;
  background-color: #bada55;
}

/* ***** portfolioLineImage ***** */

.portfolioLineImage{
  background-color: #bada55;
  height: 50px;
}

.portfolioLineRight{
  border-left: 3px solid #000;
}

/* ***** portfolioSpaceBottom ***** */

.portfolioSpaceBottomRight{
  height: 50px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}
.goToContact{
  height: 50px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
}

/* ***** CONTACT ***** */

#contact{
  background-color: #000;
  min-height: 500px;
}

.contactFooterSpaceTopRight{
  height: 50px;
  border-left: 3px solid #fff;
}

.contactButtonSpaceShort,.contactButtonSpaceLong{
  height: 30px;
  border-right: 3px solid #fff;

}


.toMailUnderButton{
  height: 30px; /* half of the btn-green */
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.btn-green{
  background-color: #bada55;
}
.btn-green:hover{
  background-color: #000;
  border:3px solid #fff;
  color: #bada55;
}
