/* ***** GENERAL ***** */
body{
  padding-top: 60px;
  font-family: 'Roboto Slab', serif;
}

.mainContent{
  box-shadow:0px 0px 10px black;
  padding:0px;
}

h1, h2, h3, h4{
  font-family: 'Indie Flower', cursive;
  margin: 0px;
}
h1{
  font-size: 52px;
}
/* ***** NAVIGATION ***** */

.navbar-inverse .navbar-brand {
    color: #fff;
    margin: 5px 0px;
}
.nav>li>a {
    color: #fff;
    margin:10px 5px;
}
.nav>li>a:hover {
    color: #000;
}

/* ***** HOME ***** */

#home{
  height: calc(700px - 70px);
}
.homeBox{
  height: 100px;
  width: 100%;
  display: flex;
}
.homeBoxRight{
  height: 100%;
  width: 50px;
}
.homeBoxMiddle{
  height: 100%;
  width: calc(100% - 125px);
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  border-radius: 0 0 0 100px;
}
.heroText{
  padding:15px;
  height: 100px;
  width: calc(100% - 150px);
  margin: 0 75px;
}
.heroTextUp{
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  border-radius:0 0 20px 0;
}
.heroTextDown{
  border-left: 3px solid #000;
}



.lineTower{
  width: calc(47.1% - 75px);
  margin-left: 75px;
  height: 100%;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-radius: 0 50px 0 0;
}

 /* ***** ABOUT ME ***** */

/*.bgParis{
  border-bottom: 3px solid #fff;
}*/
.aboutBox{
  width: 100%;
  min-height: 600px;
  color: #fff;
  background-color: #000;
}

/* ***** topBox ***** */

.topBox{
  width: 100%;
  height: 100px;
  display: flex;
}
.topBoxLeft{
  width: 175px;
  height: 100%;
  background-color: pink;
}
.topBoxRight{
  width: 100%;
  height: 100%;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-radius: 150px 0 0 0;
}

/* ***** topPicBox ***** */
.imgMe{
  width:150px;
  height:auto;
}
.topPicBox{
  width: 100%;
  height: 156px;
  display:flex;
}
.topPicBoxLeft{
  width: 78px;
  height: 156px;
}
.topPicBoxMiddle{
  width: 156px;
  height: 156px;
}
.imgMe{
  border-radius: 50%;
  border: 3px solid #fff;
}
.topPicBoxRight{
  width: calc(100% - 181px);
  height: 100%;
}
.topPicBoxRightTop{
  width: calc(100% - 50px);
  height: 50%;
}
.topPicBoxRightBottom{
  width: calc(100% - 50px);
  height: 50%;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius:0 20px 0 0;
}

/* ***** topSpaceBox ***** */

.topSpaceBox{
  width: calc(100% - 50px);
  height: 150px;
  padding-top: 30px;
  border-right: 3px solid #fff;
}
.topSpaceBox>h2{
  margin-top: 0;
}

/* ***** topTextBox ***** */

.topTextBox{
  width: calc(100% - 50px);
  min-height: 250px;
  display: flex;
}
.topTextBoxRight{
  width: 50px;
}
.topTextBoxText{
  width: calc(100% - 50px);
  min-height: 250px;
  padding: 10px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-radius:30px 0 0 0;
}

/* ***** topUnderTextBox ***** */

.topUnderTextBox{
  width: 100%;
  height: 150px;
  display: flex;
}
.topUnderTextBoxRight{
  width: 50px;
  height: 150px;
  border-top: 3px solid #fff;
}
.topUnderTextBoxDeco{
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 0 50px 0 50px;
  background-color: #bada55;
}

/* *****     ***** */

/*
background-color: #bada55;
background-color: #bababa;
*/

.foot{
  height: 100vh;
}
