/*  general */

body{
    font-family: 'Exo', sans-serif;
    margin: 0;
}

h3{
    font-size: 20px;
    color: #fb6d6d;
}

h2{
    font-size: 37px;
}

h6{
    font-weight: bold;
    font-size: 15px;
}

.container{
    position: relative;
}

/*****  section header  *****/

.bgHeader{
    height: 100vh;
    background-image: url(../images/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.headerContent{
    position: relative;
    margin-top: 25%;
}

.bigTitle{
    font-size: 4em;
    font-weight: 100;
}

.playButton{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    opacity: 0.8;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #8185a3;
    color: #f6f5f3;
    border: none;
}

.playButton:hover{
    opacity: 1;
    box-shadow: -1px -1px 6px #4e4e5e inset;
}

.help{
    font-size: 0.7em;
}

/*****  section 1   *****/

.bgSection1{
    max-height: 720px;
}

.boxRight{
    background-color: #ececec;
    height: 720px;
    width: 50%;
    float: right;
    position: relative;
    overflow: hidden;
}

.section1Triangle{
    height: 200%;
    background-color: #fb8686;
    width: 100%;
    transform: skewX(-45deg);
}

.section1{
    max-height: 720px;
    z-index: 2;
}

.section1 span{
    color: #fb6d6d;
    position: absolute;
}

.textBoxSection1{
    margin-top: 50px;
}

/*****  section features    *****/

.bgFeatures{
    background-color: #f6f5f3;
    min-height: 675px;
}

.sectionFeatures{
    min-height: 675px;
    position: relative;
    overflow: hidden;
}
.pen{
    position: absolute;
    top: -15px;
}

.earphones{
    position: absolute;
    top: -30px;
    right: 100px;
}

.coffee{
    position: absolute;
    bottom: -100px;
    right: 0;
}

.titleBox{
    text-align: center;
    padding-top: 130px;
}

.iconFeatures{
    margin-top: 90px;
    text-align: center;
}

.iconPicture, .iconAirplane, .iconBulb{
    margin-bottom: 20px;
}

/*****  section macbook   *****/

.bgMacbook{
    height: 550px;
    position: relative;
    overflow: hidden;
}

.macbookTriangle{
    height: 1000px;
    width: 50%;
    position: absolute;
    left: -170px;
    background-color: #fb8686;
    transform: skewX(44deg);
}

.macbook{
    position: absolute;
    z-index: 100;
    margin-top: 100px;
    max-width: 60%;
}

.sectionMacbook{
    max-height: 550px;
}

.sectionMacbook span{
    color: #fb6d6d;
    position: relative;
}

.textBoxMacbook{
    margin-top: 100px;
}

/*****  section founder   *****/

.bgFounder{
    background-color: #000000;
    min-height: 640px;
    background-image: url(../images/bgBlack.png);
}
.sectionFounder{
    text-align: center;
    color: #ffffff;
}

.sectionFounder span{
    color: #fb6d6d;
}

.imgMoi{
    margin-top: 110px;
    margin-bottom: 25px;
    width: 75px;
    height: 75px;
}

.logos{
    margin-top: 50px;
    margin-bottom: 50px;
}

.logos img{
    max-width: 100%;
}

/*****  section browser   *****/

.bgBrowser{
    background-color: #f6f5f3;
}

.sectionBrowser{
    text-align: center;
}

.textBoxSafari{
    margin-top: 100px;
    margin-bottom: 100px;
}

.browser img{
    max-width: 100%;
}

/*****  section contact *****/

.bgContact{
    background-color: #323969;
}

.sectionContact{
    padding-top: 50px;
    min-height: 465px;
    text-align: center;
    color: #f6f5f3;
}

.formContact{
    position: relative;
    margin-top: 40px;
    padding: 0 30px;
    text-align: center;
}

.formContact p{
    position: absolute;
    bottom: 40px;
}

.formContact span{
    position: absolute;
    top: 11px;
    left: 10px;
    transform: rotate(-30deg);
    font-size: 40px;
}

.termsContact{
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.termsContact span{
    text-decoration: underline;
    cursor: pointer;
}

/*****  section footer  *****/

.bgFooter{
    position: relative;
    overflow: hidden;
}

.footerContent{
    min-height: 330px;
    position: relative;
    padding-left: 15px;
    overflow: hidden;
}
.footerContent img{
    margin-top: 70px;
    margin-bottom: 10px;
}
.footerContent h6{
    margin-top: 100px;
}

.footerContent p{
    font-size: 10px;
}

.footerContent a{
    color: #000000;
    cursor: pointer;
}

.boiteMail{
    margin-bottom: 20px;
}

.footerTriangle{
    height: 200px;
    width: 200px;
    background-color: #fb6d6d;
    position: absolute;
    top: -100px;
    right: 0px;
    transform: skewY(45deg);
}
