.produit {
    color: blue;
}

.produitTitle {
    color: #333;
    text-decoration: underline
}

.prixNeuf {
    color: darkred;
    text-decoration: line-through;
}

.imgShow {
    float: left;
    max-width: 40%;
    margin-right: 10px;
}

.imglong {
    float: left;
    max-width: 50%;
}

.stop {
    clear: both;
}

.imgs1,
.imgs2,
.imgs3,
.imgs4 {
    width: 50%;
    float: left;
}

.imgSeule {
    width: 100%;
    float: left;
}

#contactMe {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
}

.vendu {
    color: red;
}
